@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body, main {
    height: 100vh;
    width: 100vw;
}

body {
    background: #494949 url('../imagens/fundo-madeira.jpg') center/ cover no-repeat fixed;
}

main {
    position: relative;
}

div#celular {
    background: #00000000 url('../imagens/frame-iphone.png') center center/ 311px 627px no-repeat fixed;

    position: absolute;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
}

iframe {
    height: 472px;
    width: 270px;
    border-radius: 4px;

    position: absolute;
    top: 80px;
    left: 21px;

    overflow: hidden;
}

li {
    text-align: right;
}

img {
    max-width: 50px;
    margin: 10px 10px 0px 10px;
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 80%;
}

img:hover {
    transform: translate(-3px, -3px);
    opacity: 100%;
    transition: transform 0.2s, border 5s;
}

img:active {
    transform: scale(95%);
    transition: transform 0.2s;
}